[Unit]
Description=Disable tsm authentication at boot.
After=multi-user.target

[Service]
User=root
WorkingDirectory=/home/murali/Scripts/
ExecStart=/bin/bash tsm_noauth.sh

[Install]
WantedBy=multi-user.target
